@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #0093d0;
    border-radius: 10px;
}

li, a, .sign-in > button, .register > button  {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
}

.logo-name {
    cursor: pointer;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav {
    position: relative;
    top: 5px;
}

.fa-car-on {
    font-size: 40px;
    color: #0093d0;
}

.nav-links {
    list-style: none;
    text-align: center;
}

.nav-links li {
    padding: 0px 20px;
    display: inline-block;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #0093d0;
}

.register > button {
    padding: 9px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #0093d0;
    color: white;
}

.register > button:hover {
    -webkit-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    -moz-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
}

.sign-in > button {
    border: none;
    padding: 9px 25px;
    border: 8px;
    cursor: pointer;
    background-color: white;
}

.sign-in > button:hover {
    transition: all 0.3 ease 0s;
    color: #0093d0;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

#hero-page {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-page > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text  {
    width: 490px;
}

.slogan {
    font-size: 20px;
}

.big-text {
    margin-top: 10px;
    font-size: 50px;
    line-height: 60px;
}

.colored-word {
    color: #0093d0;
}

.smaller-text {
    font-size: 14px;
    color: gray;
    margin-top: 20px;
}

.hero-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.book-ride, .learn-more {
    margin-top: 15px;
    width: 170px;
    height: 50px;
}

.book-ride {
    padding: 12px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #0093d0;
    color: white;
    text-align: center;
    text-decoration: none;
}

.book-ride:hover {
    -webkit-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    -moz-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    text-decoration: none;
    color: white;
}

.fa-circle-check {
    font-size: 14px;
    margin-left: 3px;
    color: white;
}

.learn-more {
    padding: 12px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.learn-more:hover {
    -webkit-box-shadow: 6px 7px 16px -5px rgba(0,0,0,0.78);
    -moz-box-shadow: 6px 7px 16px -5px rgba(0,0,0,0.78);
    box-shadow: 6px 7px 16px -5px rgba(0,0,0,0.78);
    text-decoration: none;
    color: white;
}

.fa-chevron-right {
    margin-left: 2px;
    color: white;
}

.car-picture {
    height: auto;
}

#goToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0093d0;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
}

.fa-arrow-up {
    color: white;
}

#goToTopButton:hover {
    background-color: blue;
}

#book-a-car {
    margin-top: 100px;
    margin-left: 11px;
    margin-bottom: 150px;
}

#book {
    background-color: #fff;
    background-image: url(/images/background-details.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 12px;
    padding: 80px 150px;
}

.car-type {
    width: 100%;
    height: 45px;
    padding-left: 10px;
}

.search {
    width: 100%;
    padding: 12px 0px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #0093d0;
    color: white;
    position: relative;
    top: 27px;
    border-radius: 4px;
}

.search:hover {
    -webkit-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    -moz-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
}


.empty-space {
    height: 35px;
} 

.header-car-title, .search {
    margin-bottom: 10px;
}

.book-a-car-title {
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 30px;
}

.header-car-title {
    font-weight: 700;
    font-size: 16px;
}

.star {
    color: red;
}

#dropof-date, #pickup-date {
    width: 100%;
    height: 45px;
    padding-left: 10px;
}

.fa-car, .fa-location-dot, .fa-calendar-days {
    color: #0093d0;
    margin-right: 3px;
}

#info {
    margin-bottom: 196px;
}

.slogan-info {
    text-align: center;
    font-size: 20px;
    color: black;
}

.big-text-info {
    font-weight: 700;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 100px;
}

#info-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-icon {
    color: #0093d0;
    margin-bottom: 70px;
    font-size: 50px;
    text-shadow: 0px 0px 44px rgba(0,147,208,1);
}

.info-titles {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.info-text {
    text-align: center;
    font-size: 14px;
    color: gray;
    font-weight: 600;
}

#info-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vehicle-models {
    margin-bottom: 100px;
}

.vehicle-models-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.vehicle-models-big-title {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 26px;
}

.vehicle-models-small-text {
    text-align: center;
    font-size: 16px;
    color: gray;
    font-weight: 600;
    margin-bottom: 60px;
}

.cars-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.car-button {
    color: black;
    background-color: #e9e9e9;
    border: none;
    padding: 20px 16px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    width: 260px;
    margin-left: -50px;
}

.car-button:hover {
    background-color: #0093d0;
    color: white;
}

.car-button:focus {
    background-color: #0093d0;
    color: white;
}

.cars-images-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#car-image {
    height: 370px;
    width: auto;
    position: relative;
    top: 40px;
}

#car-info, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#car-info {
    border: 1px solid gray;
    height: 400px;
    width: 250px;
    text-align: center;
}

th {
    width: 100%;
    color: white;
    background-color: #0093d0;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

td {
    font-weight: 500;
}

.bold-price {
    font-weight: 800;
    color: white;
    font-size: 20px;
}

.reserve-now-btn {
    width: 250px;
    height: 45px;
    background-color: #0093d0;
    color: white;
    border: none;
    margin-top: 19px;
    border-radius: 4px;
}

.reserve-now-btn:hover {
    -webkit-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    -moz-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
}

#cars-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#why-choose-us {
    margin-bottom: 100px;
}

.three-cars {
    height: 400px;
    width: auto;
    margin-bottom: 50px;
}

.why-choose-us-mini-title {
    margin-left: 2px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}

.wcu-big-title {
    font-weight: 800;
    font-size: 42px;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

.wcu-text {
    font-size: 14px;
    color: gray;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 22px;
}

#find-details {
    background-color: #0093d0;
    color: white;
    height: 55px;
    width: 150px;
    border: none;
    border-radius: 4px;
}

#find-details:hover {
    -webkit-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    -moz-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
}

.fa-earth-europe, .fa-hand-holding-dollar, .fa-circle-dollar-to-slot {
    color: #0093d0;
    font-size: 40px;
    text-shadow: 0px 0px 44px rgba(0,147,208,1);
}

.about-us-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.about-us-text-cont {
    margin-left: 30px;
}

.about-us-title {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 7px;
}

.about-us-text {
    font-size: 14px;
    color: gray;
    font-weight: 600;
    line-height: 22px;
}

#footer {
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #f8f8f8;
}

.footer-title {
    font-size: 24px;
    font-weight: 900;
}

.unbold {
    font-weight: 500;
}

.footer-slogan {
    font-size: 16px;
    color: gray;
    font-weight: 500;
    line-height: 22px;
    margin-top: 25px;
}

.phone-number-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    font-size: 20px;
}

.email-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 18px;
}

#footer > div > div > div:nth-child(2) > p:nth-child(2) {
    margin-top: 20px;
}

.timetable {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.subscribtion {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.email-input {
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 10px 47px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.submit-newsletter {
    background-color: #0093d0;
    color: white;
    border: none;
    width: 260px;
    height: 41px;
    border-radius: 4px;
}

.submit-newsletter:hover {
    -webkit-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    -moz-box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
    box-shadow: 1px 4px 16px -3px rgba(0,147,208,1);
}

@media only screen and (max-width: 1250px) {
    .toggle-button {
        display: flex;
    }

    .nav-links, .register, .sign-in {
        display: none;
    }

    header {
        margin-top: 30px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 600px) {

    * {
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #footer-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer-title {
        text-align: center;
        font-size: 28px;
    }

    .footer-slogan, .phone-number-cont, .email-cont {
        text-align: center;
    }

    #contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .timetable {
        text-align: center;
    }

    #footer > div > div > div:nth-child(2) > p:nth-child(4) {
        margin-bottom: 30px;
    }

    #subscription-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscribtion {
        text-align: center;
        margin-bottom: 30px;
    }

    .about-us-cont {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .about-us-text-cont {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .about-us-title {
        font-size: 22px;
        margin-top: 30px;
    }

    .about-us-text {
        font-size: 15px;
    }
    
    #about-us-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #find-details {
        margin-bottom: 70px;
    }

    #why-choose-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .wcu-text {
        width: 90%;
        font-size: 15px;
    }

    .three-cars {
        width: 100%;
        height: auto;
    }

    #table {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #car-image {
        width: 95%;
        height: auto;
        
    }

    .cars-images-cont {
        margin-bottom: 120px;
        margin-top: 40px;
    }

    .text, .cars-images-cont, .big-text, .big-text-info, .info-titles, .vehicle-models-title, .vehicle-models-big-title, .why-choose-us-mini-title, .wcu-big-title, .about-us-title, .footer-title {
        overflow-x: unset;
    }

    #carousel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cars-menu {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .car-button {
        min-width: 300px;
        margin: 0;
    }

    .vehicle-models-big-title {
        font-size: 36px;
    }

    .vehicle-models-small-text {
        width: 90%;
        margin-bottom: 40px;
    }
    
    #small-text {
        display: flex;
        justify-content: center;
    }

    #info-icon {
        margin-bottom: 40px;
    }

    .info-titles {
        margin-bottom: 10px;
    }

    #info-containers {
        margin-bottom: 80px;
    }
    
    #info > div > div:nth-child(3) > div:nth-child(3) {
        margin-bottom: 0;
    }

    .big-text-info {
        font-size: 30px;
        margin-bottom: 100px;
    }

    .search {
        width: 300px;
    }

    .company-name {
        font-size: 23px;
    }

    .navigation {
        padding-top: 0;
        padding-bottom: 0;
    }

    #hero-page > div > div.col-md-6 {
        display: none;
    }

    #text-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }

    .big-text {
        width: 70%;
        text-align: center;
    }

    .smaller-text {
        width: 70%;
        text-align: center;
    }

    .book-ride, .learn-more {
        width: 250px;
    }

    #info-icon, .fa-earth-europe, .fa-hand-holding-dollar, .fa-circle-dollar-to-slot  {
        text-shadow: none;
    }

    /* #goToTopButton {
        bottom: 25px;
        right: 100px;
    } */
}